@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/estilos.css"/>
    </head>
    <body>
        <form action="">
            <h2>EMPRESA DE TRANSPORTES</h2>
            <input type="text" placeholder="Cantidad de pasajes adquiridos"  id="cantidad"/>
            <input type="text" placeholder="Ingrese el precio del pasaje" id="precio"/>
            <input type="submit" value="procesar" onclick="return getProcesar()" />
            <textarea name="textarea" rows="12" cols="50" id="resultado"></textarea>
        </form>
    </body>
</html>
<script type="text/javascript" src="~/js/procesar.js"></script>
